<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div align="center" class="not-found content">
      <h2>Dude, where's my page!</h2>
      <img
        src="/john.png"
        alt="Confusion image"
        style="width: 250px; height: 400px; padding-bottom: 50px"
      />
      <h4>
        Click <a style="color: crimson;" href="/blogs">here</a> to get back to the home page.
      </h4>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
